/* App.css or similar */

.markdown-content {
  font-family: "Arial", sans-serif;
  line-height: 1.3;
  color: var(--light-text-color);
  width: 100%;
}

.markdown-content think {
  color: var(--think-color);
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  color: var(--markdown-content-color);
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-content h1 {
  font-size: 1.8em;
}
.markdown-content h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #555;
  padding-bottom: 0.3em;
}
.markdown-content h3 {
  font-size: 1.3em;
}

.markdown-content p {
  margin-bottom: 1em;
}

.markdown-content ul,
.markdown-content ol {
  margin-bottom: 1em;
  padding-left: 25px; /* Indent lists */
}

.markdown-content li {
  margin-bottom: 0.3rem;
}

.markdown-content li::marker {
  color: var(--markdown-content-color);
}

.markdown-content strong {
  font-weight: bold;
}

.markdown-content em {
  font-style: italic;
}

.markdown-content a {
  color: var(--accentColor); /* Link color */
  text-decoration: none;
}

.markdown-content a:hover {
  text-decoration: underline;
}

/* Horizontal Rule */
.markdown-content hr {
  border: 0;
  height: 1px;
  background: #555;
  margin: 1.5rem 0;
}

.markdown-content pre {
  overflow-x: auto;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 1em;
}

.markdown-content code {
  background: var(--code-bkg);
  padding: 1rem;
  border-radius: 0.2rem;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 0.9rem;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* Tables */
.markdown-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.markdown-content th,
.markdown-content td {
  border: 4px solid var(--background-color);
  padding: 0.5rem 1rem;
  text-align: left;
  color: var(--light-text-color);
}

.markdown-content tr:nth-of-type(odd) {
  background: var(--td-bkg);
}

.markdown-content th {
  background-color: var(--sidePanel-bkg-color);
  font-weight: bold;
}

.markdown-content td {
  font-size: 0.9rem;
}

.markdown-content p {
  text-align: justify;
}
